Repository wearehumblebee/honeycomb: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,mdx,yml,yaml}": [
    "prettier --write"
  ],
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix"
  ]
}

feat(packages): add ui-react package
  .huskyrc
  .lintstagedrc
  package.json
  packages/ui-react/.eslintrc.js
  packages/ui-react/.gitignore
  packages/ui-react/CHANGELOG.md
  packages/ui-react/README.md
  packages/ui-react/jest.config.js
  packages/ui-react/package.json
  packages/ui-react/reports/.gitignore
  packages/ui-react/reports/coverage/.gitignore
  packages/ui-react/src/components/Paragraph/Paragraph.tsx
  packages/ui-react/src/components/Paragraph/index.ts
  packages/ui-react/src/index.ts
  packages/ui-react/src/types.ts
  packages/ui-react/tests/.eslintrc.js
  packages/ui-react/tests/components/Paragraph/Paragraph.test.tsx
  packages/ui-react/tests/mocks/file-loader.mock.ts
  packages/ui-react/tests/setup.ts
  packages/ui-react/tests/utils.tsx
  packages/ui-react/tsconfig.json
  packages/ui-react/yarn.lock
  yarn.lock
Due: prettier --write, eslint --fix

docs(react): add minimalist TypeScript and React example
  examples/ts-react/.eslintrc.js
  examples/ts-react/.gitignore
  examples/ts-react/README.md
  examples/ts-react/jest.config.js
  examples/ts-react/package.json
  examples/ts-react/src/App.tsx
  examples/ts-react/src/components/Nav/InternalNavLink.tsx
  examples/ts-react/src/components/Nav/Nav.tsx
  examples/ts-react/src/components/Nav/index.ts
  examples/ts-react/src/components/ProjectCard/ProjectCard.tsx
  examples/ts-react/src/components/ProjectCard/index.ts
  examples/ts-react/src/index.html
  examples/ts-react/src/index.tsx
  examples/ts-react/src/router/AppRouter.tsx
  examples/ts-react/src/router/index.ts
  examples/ts-react/src/themes/DefaultTheme.ts
  examples/ts-react/src/themes/index.ts
  examples/ts-react/src/views/FormView.tsx
  examples/ts-react/src/views/HomeView.tsx
  examples/ts-react/src/views/NotFoundView.tsx
  examples/ts-react/tests/.eslintrc.js
  examples/ts-react/tests/App.test.tsx
  examples/ts-react/tests/components/ProjectCard/ProjectCard.test.tsx
  examples/ts-react/tests/setup.ts
  examples/ts-react/tests/utils.tsx
  examples/ts-react/tests/views/FormView.test.tsx
  examples/ts-react/tests/views/HomeView.test.tsx
  examples/ts-react/tests/views/NotFoundView.test.tsx
  examples/ts-react/tsconfig.json
  examples/ts-react/yarn.lock
Due: prettier --write, eslint --fix

docs(contributions): add notes regarding hoisted eslint dependency
  CONTRIBUTING.md
Due: prettier --write

feat(workspaces): setup yarn workspaces
  .eslintrc.js
  .huskyrc
  .lintstagedrc
  examples/ts-react/.eslintrc.js
  examples/ts-react/jest.config.js
  examples/ts-react/package.json
  examples/ts-react/reports/.gitignore
  examples/ts-react/reports/coverage/.gitignore
  examples/ts-react/src/components/ProjectCard/ProjectCard.tsx
  examples/ts-react/src/index.tsx
  examples/ts-react/src/views/FormView.tsx
  examples/ts-react/src/views/HomeView.tsx
  examples/ts-react/src/views/NotFoundView.tsx
  examples/ts-react/tests/utils.tsx
  examples/ts-react/yarn.lock
  lerna.json
  package.json
  packages/storybook-react/.eslintrc.js
  packages/storybook-react/.storybook/addons/theme/ThemePanel.jsx
  packages/storybook-react/.storybook/addons/theme/ThemeSelectorTool.jsx
  packages/storybook-react/.storybook/decorators/withThemeProvider.tsx
  packages/storybook-react/package.json
  packages/storybook-react/yarn.lock
  packages/ui-react/.eslintrc.js
  packages/ui-react/LICENSE.md
  packages/ui-react/package.json
  packages/ui-react/tests/utils.tsx
  packages/ui-react/tsconfig.json
  packages/ui-react/yarn.lock
  yarn.lock
Due: prettier --write, eslint --fix

style(eslint): bump eslint v7 + streamline configs
  .eslintrc.js
  examples/ts-react/.eslintrc.js
  examples/ts-react/package.json
  examples/ts-react/tests/.eslintrc.js
  examples/ts-react/tests/views/FormView.test.tsx
  packages/storybook-react/.eslintrc.js
  packages/storybook-react/package.json
  packages/ui-react/.eslintrc.js
  packages/ui-react/package.json
  packages/ui-react/src/types.ts
  packages/ui-react/tests/.eslintrc.js
  yarn.lock
Due: eslint --fix

feat: initial scaffolding with lerna
  .czrc
  .editorconfig
  .eslintrc.js
  .gitignore
  .huskyrc
  .lintstagedrc
  .prettierrc
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE.md
  README.md
  commitlint.config.js
  lerna.json
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(packages): add toolkit package
  package.json
  packages/toolkit/.eslintrc.js
  packages/toolkit/.gitignore
  packages/toolkit/LICENSE.md
  packages/toolkit/README.md
  packages/toolkit/bin/cli.js
  packages/toolkit/jest.config.js
  packages/toolkit/package.json
  packages/toolkit/reports/.gitignore
  packages/toolkit/reports/coverage/.gitignore
  packages/toolkit/src/cli.ts
  packages/toolkit/src/commands/create-dotenv-file/create-dotenv-file.ts
  packages/toolkit/src/commands/create-dotenv-file/index.ts
  packages/toolkit/src/configurations/webpack/core.ts
  packages/toolkit/src/configurations/webpack/development.ts
  packages/toolkit/src/configurations/webpack/get-webpack-configuration.ts
  packages/toolkit/src/configurations/webpack/index.ts
  packages/toolkit/src/configurations/webpack/production.ts
  packages/toolkit/src/index.ts
  packages/toolkit/src/missings.d.ts
  packages/toolkit/tests/.eslintrc.js
  packages/toolkit/tests/commands/create-dotenv-file.test.ts
  packages/toolkit/tests/configurations/webpack.test.ts
  packages/toolkit/tests/files/.env.example
  packages/toolkit/tests/files/.gitignore
  packages/toolkit/tsconfig.build.json
  packages/toolkit/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(toolkit): add default babel configuration getters
  packages/toolkit/package.json
  packages/toolkit/src/configurations/babel/frontend.ts
  packages/toolkit/src/configurations/babel/index.ts
  packages/toolkit/src/configurations/babel/node.ts
  packages/toolkit/src/configurations/babel/types.ts
  packages/toolkit/src/index.ts
  packages/toolkit/tests/configurations/babel.test.ts
Due: eslint --fix

refactor(toolkit): add babel & webpack version to exported configs
  .eslintrc.js
  LICENSE.md
  package.json
  packages/toolkit/LICENSE.md
  packages/toolkit/package.json
  packages/toolkit/src/configurations/babel/index.ts
  packages/toolkit/src/configurations/babel7/frontend.ts
  packages/toolkit/src/configurations/babel7/index.ts
  packages/toolkit/src/configurations/babel7/node.ts
  packages/toolkit/src/configurations/babel7/types.ts
  packages/toolkit/src/configurations/webpack4/core.ts
  packages/toolkit/src/configurations/webpack4/development.ts
  packages/toolkit/src/configurations/webpack4/get-webpack-configuration.ts
  packages/toolkit/src/configurations/webpack4/index.ts
  packages/toolkit/src/configurations/webpack4/production.ts
  packages/toolkit/src/index.ts
  packages/toolkit/src/missings.d.ts
  packages/toolkit/tests/configurations/babel7.test.ts
  packages/toolkit/tests/configurations/webpack4.test.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat(packages): add ui-react package
  .eslintrc.js
  CONTRIBUTING.md
  package.json
  packages/ui-react/.eslintrc.js
  packages/ui-react/.gitignore
  packages/ui-react/CHANGELOG.md
  packages/ui-react/LICENSE.md
  packages/ui-react/README.md
  packages/ui-react/jest.config.js
  packages/ui-react/package.json
  packages/ui-react/reports/.gitignore
  packages/ui-react/reports/coverage/.gitignore
  packages/ui-react/src/components/Paragraph/Paragraph.tsx
  packages/ui-react/src/components/Paragraph/index.ts
  packages/ui-react/src/index.ts
  packages/ui-react/src/types.ts
  packages/ui-react/tests/.eslintrc.js
  packages/ui-react/tests/components/Paragraph/Paragraph.test.tsx
  packages/ui-react/tests/mocks/file-loader.mock.ts
  packages/ui-react/tests/setup.ts
  packages/ui-react/tests/utils.tsx
  packages/ui-react/tsconfig.build.json
  packages/ui-react/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

docs(react): add minimalist TypeScript and React example
  examples/ts-react/.eslintrc.js
  examples/ts-react/.gitignore
  examples/ts-react/LICENSE.md
  examples/ts-react/README.md
  examples/ts-react/jest.config.js
  examples/ts-react/package.json
  examples/ts-react/reports/.gitignore
  examples/ts-react/reports/coverage/.gitignore
  examples/ts-react/src/App.tsx
  examples/ts-react/src/components/Nav/InternalNavLink.tsx
  examples/ts-react/src/components/Nav/Nav.tsx
  examples/ts-react/src/components/Nav/index.ts
  examples/ts-react/src/components/ProjectCard/ProjectCard.tsx
  examples/ts-react/src/components/ProjectCard/index.ts
  examples/ts-react/src/index.html
  examples/ts-react/src/index.tsx
  examples/ts-react/src/router/AppRouter.tsx
  examples/ts-react/src/router/index.ts
  examples/ts-react/src/themes/DefaultTheme.ts
  examples/ts-react/src/themes/index.ts
  examples/ts-react/src/views/FormView.tsx
  examples/ts-react/src/views/HomeView.tsx
  examples/ts-react/src/views/NotFoundView.tsx
  examples/ts-react/tests/.eslintrc.js
  examples/ts-react/tests/App.test.tsx
  examples/ts-react/tests/components/ProjectCard/ProjectCard.test.tsx
  examples/ts-react/tests/setup.ts
  examples/ts-react/tests/utils.tsx
  examples/ts-react/tests/views/FormView.test.tsx
  examples/ts-react/tests/views/HomeView.test.tsx
  examples/ts-react/tests/views/NotFoundView.test.tsx
  examples/ts-react/tsconfig.json
  packages/storybook-react/.storybook/decorators/withThemeProvider.tsx
  yarn.lock
Due: prettier --write, eslint --fix

feat(chromatic): set-up chromatic for storybook
  .editorconfig
  package.json
  packages/storybook-react/package.json
  yarn.lock
Due: none

ci(workflow): setup github actions to publish packages
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/simulate-release.yml
  .github/workflows/test.yml
Due: prettier --write

build(lint): improve "prepare" workflow (avoid unnecessary builds)
  .eslintrc.js
  .github/workflows/test.yml
  examples/ts-react/package.json
  package.json
  packages/storybook-react/package.json
  packages/toolkit/package.json
  packages/ui-react/package.json
  yarn.lock
Due: prettier --write, eslint --fix

ci(workflow): improve overall Github Actions workflow
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/simulate-release.yml
  .github/workflows/test.yml
  packages/toolkit/package.json
Due: prettier --write

chore(release): publish
  examples/ts-react/CHANGELOG.md
  examples/ts-react/package.json
  packages/storybook-react/CHANGELOG.md
  packages/storybook-react/package.json
  packages/toolkit/CHANGELOG.md
  packages/toolkit/package.json
  packages/ui-react/package.json
Due: prettier --write

docs(toolkit): update README.md
  packages/toolkit/README.md
Due: prettier --write

fix(toolkit): update honeycomb-toolkit CLI API to yargs v16
  packages/toolkit/bin/cli.js
  packages/toolkit/src/cli.ts
Due: eslint --fix

chore(release): publish
  packages/toolkit/CHANGELOG.md
  packages/toolkit/package.json
Due: prettier --write

feat(toolkit): update webpack4 configuration
  packages/storybook-react/.storybook/decorators/withThemeProvider.tsx
  packages/toolkit/package.json
  packages/toolkit/src/configurations/webpack4/core.ts
  packages/toolkit/src/configurations/webpack4/development.ts
  packages/toolkit/src/configurations/webpack4/production.ts
  packages/toolkit/tests/configurations/.env.test
  packages/toolkit/tests/configurations/webpack4.test.ts
  yarn.lock
Due: eslint --fix

chore(release): publish
  packages/storybook-react/CHANGELOG.md
  packages/storybook-react/package.json
  packages/toolkit/CHANGELOG.md
  packages/toolkit/package.json
Due: prettier --write

feat(toolkit): update babel v7 configuration management
  packages/toolkit/package.json
  packages/toolkit/src/configurations/babel7/frontend.ts
  packages/toolkit/src/configurations/babel7/node.ts
  packages/toolkit/src/missing.d.ts
  packages/toolkit/tests/configurations/babel7.test.ts
  yarn.lock
Due: eslint --fix

fix(tooltip): update webpack4 core configuration parameters
  packages/toolkit/src/configurations/webpack4/core.ts
  packages/toolkit/tests/configurations/webpack4.test.ts
Due: eslint --fix

chore(release): publish
  examples/ts-react/CHANGELOG.md
  examples/ts-react/package.json
  packages/storybook-react/CHANGELOG.md
  packages/storybook-react/package.json
  packages/toolkit/CHANGELOG.md
  packages/toolkit/package.json
  packages/ui-react/CHANGELOG.md
  packages/ui-react/package.json
Due: prettier --write

build(dependencies): bump lerna v4.0
  package.json
  yarn.lock
Due: none

test(toolkit): fix unit tests on Windows system
  packages/toolkit/tests/configurations/babel7.test.ts
Due: eslint --fix

build(ts-example): lock down parcel to v1.12.3
  examples/ts-react/package.json
  yarn.lock
Due: none

build(storybook): fix TS issues in storybook package
  packages/storybook-react/.storybook/decorators/withThemeProvider.tsx
  packages/storybook-react/.storybook/main.js
  packages/storybook-react/.storybook/preview.ts
Due: eslint --fix

ci(lerna): remove "--create-release github" flags from lerna release commands
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: prettier --write

ci(lerna): remove main release workflow's "--conventional-graduate" lerna flag
  .github/workflows/graduation.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: prettier --write

fix(toolkit): correct copy-webpack-plugin globOptions for Windows
  packages/toolkit/src/configurations/webpack4/core.ts
Due: eslint --fix

ci(lerna): remove "from-package" flag from main release workflow
  .github/workflows/release.yml
Due: prettier --write

ci(github): configure git to push back from the actions
  .github/workflows/graduation.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/simulate-release.yml
Due: prettier --write

ci(github): fix workflow typo
  .github/workflows/graduation.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: prettier --write

chore(release): publish
  packages/toolkit/CHANGELOG.md
  packages/toolkit/package.json
  packages/ui-react/CHANGELOG.md
  packages/ui-react/package.json
Due: prettier --write
